<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>搞事情</title>
<link href="lib/normalize.css" rel="stylesheet">
<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div id="main">
		<div class="navbar">
			<h1>表事情</h1>
		</div>
		<div class="header">
			开黑了么就写作业？
		</div>
		<form @submit.prevent="merge" id="task-form">
			<div class="wrap">
			
			<input v-model="current.title" id="task-input" type="text" autocomplete="off">
			<!--如果更新则显示-->
			<div v-if="current.id" class="detail">
				<textarea v-model="current.desc"></textarea>
				<input v-model="current.remind_at" type="datetime-local">
				<button type="submit">submit</button>
			</div>
			
			</div>
		</form>
		<div class="task-list">
			<div class="wrap">
			<div class="segment-title">未完成</div>
			<task :todo="todo" v-if="!todo.completed" v-for= "todo in list"></task>
				
			</div>
		</div>
		<div class="task-list">
		
		<div class="wrap">
		<div class="segment-title">已完成</div>
			<div v-if="todo.completed" v-for= "todo in list" class="item complete">
				<div @click="toggle_complete(todo.id)" class="toggle-complete"></div>
				<span class="title">{{todo.title}}</span>
				<button @click="remove(todo.id)">删除</button>
				<button @click="toggle_detail(todo.id)">详情</button>
				<div v-if="todo.show_detail" class="detail">
					{{todo.desc || '暂无详情'}}
				</div>
			</div>
		</div>
			
		</div>
	</div>
	<!--提示音-->
	<auto id="alert-sound">
		<source src="./sound/alert.mp3">
	</auto>
	<!--模板-->
	<template id="task-tpl">
		<div class="item">
			<div @click="action('toggle_complete',todo.id)" class="toggle-complete"></div>
				<span class="title">{{todo.title}}</span>
				<button @click="action('remove',todo.id)">删除</button>
				<button @click="action('setCurrent',todo)">更新</button>
				<button @click="action('toggle_detail',todo.id)">详情</button>
				<div v-if="todo.show_detail" class="detail">
					{{todo.desc || '暂无详情'}}
				</div>
				
			</div>
	</template>
<script src="lib/vue.js"></script>
<script src="js/myStorage.js"></script>
<script src="js/main.js"></script>
</body>
</html>
